
@font-face {
    font-family: "play";
    src: url("./Playfair/Playfair/static/Playfair_144pt-BlackItalic.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}`